RecipesApp/Connected Services/CreateRecipeService/CreateRecipeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CreateRecipeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar192.fulton.asu.edu/page3/CreateRecipeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar192.fulton.asu.edu/page3/CreateRecipeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar192.fulton.asu.edu/page3/CreateRecipeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSDL_Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICreateRecipeService_SearchIngredients_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchIngredients" />
  </wsdl:message>
  <wsdl:message name="ICreateRecipeService_SearchIngredients_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchIngredientsResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateRecipeService_AddToRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToRecipe" />
  </wsdl:message>
  <wsdl:message name="ICreateRecipeService_AddToRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateRecipeService_GetCreatedRecipes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCreatedRecipes" />
  </wsdl:message>
  <wsdl:message name="ICreateRecipeService_GetCreatedRecipes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCreatedRecipesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICreateRecipeService">
    <wsdl:operation name="SearchIngredients">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateRecipeService/SearchIngredients" message="tns:ICreateRecipeService_SearchIngredients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateRecipeService/SearchIngredientsResponse" message="tns:ICreateRecipeService_SearchIngredients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddToRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateRecipeService/AddToRecipe" message="tns:ICreateRecipeService_AddToRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateRecipeService/AddToRecipeResponse" message="tns:ICreateRecipeService_AddToRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCreatedRecipes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateRecipeService/GetCreatedRecipes" message="tns:ICreateRecipeService_GetCreatedRecipes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateRecipeService/GetCreatedRecipesResponse" message="tns:ICreateRecipeService_GetCreatedRecipes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICreateRecipeService" type="tns:ICreateRecipeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchIngredients">
      <soap:operation soapAction="http://tempuri.org/ICreateRecipeService/SearchIngredients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToRecipe">
      <soap:operation soapAction="http://tempuri.org/ICreateRecipeService/AddToRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreatedRecipes">
      <soap:operation soapAction="http://tempuri.org/ICreateRecipeService/GetCreatedRecipes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreateRecipeService">
    <wsdl:port name="BasicHttpBinding_ICreateRecipeService" binding="tns:BasicHttpBinding_ICreateRecipeService">
      <soap:address location="http://webstrar192.fulton.asu.edu/page3/CreateRecipeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>