RecipesApp/Connected Services/SaveAndLoadRecipeService/SaveAndLoadRecipeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webstrar192.fulton.asu.edu/page3/SaveAndLoadRecipeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSDL_Services" />
  <xs:element name="SaveRecipesToXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipeId" type="xs:int" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRecipesToXmlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRecipesFromXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRecipesFromXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSDL_Services" minOccurs="0" name="ReadRecipesFromXmlResult" nillable="true" type="q1:ArrayOfRecipeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>