RecipesApp/Connected Services/SaveAndLoadRecipeService/SaveAndLoadRecipeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSDL_Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSDL_Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRecipeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecipeInfo" nillable="true" type="tns:RecipeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipeInfo" nillable="true" type="tns:ArrayOfRecipeInfo" />
  <xs:complexType name="RecipeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipeInfo" nillable="true" type="tns:RecipeInfo" />
</xs:schema>