RecipesApp/Connected Services/SaveAndLoadRecipeService/SaveAndLoadRecipeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SaveAndLoadRecipeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar192.fulton.asu.edu/page3/SaveAndLoadRecipeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar192.fulton.asu.edu/page3/SaveAndLoadRecipeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar192.fulton.asu.edu/page3/SaveAndLoadRecipeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSDL_Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISaveAndLoadRecipeService_SaveRecipesToXml_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveRecipesToXml" />
  </wsdl:message>
  <wsdl:message name="ISaveAndLoadRecipeService_SaveRecipesToXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveRecipesToXmlResponse" />
  </wsdl:message>
  <wsdl:message name="ISaveAndLoadRecipeService_ReadRecipesFromXml_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadRecipesFromXml" />
  </wsdl:message>
  <wsdl:message name="ISaveAndLoadRecipeService_ReadRecipesFromXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadRecipesFromXmlResponse" />
  </wsdl:message>
  <wsdl:portType name="ISaveAndLoadRecipeService">
    <wsdl:operation name="SaveRecipesToXml">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaveAndLoadRecipeService/SaveRecipesToXml" message="tns:ISaveAndLoadRecipeService_SaveRecipesToXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaveAndLoadRecipeService/SaveRecipesToXmlResponse" message="tns:ISaveAndLoadRecipeService_SaveRecipesToXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadRecipesFromXml">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaveAndLoadRecipeService/ReadRecipesFromXml" message="tns:ISaveAndLoadRecipeService_ReadRecipesFromXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaveAndLoadRecipeService/ReadRecipesFromXmlResponse" message="tns:ISaveAndLoadRecipeService_ReadRecipesFromXml_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISaveAndLoadRecipeService" type="tns:ISaveAndLoadRecipeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveRecipesToXml">
      <soap:operation soapAction="http://tempuri.org/ISaveAndLoadRecipeService/SaveRecipesToXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadRecipesFromXml">
      <soap:operation soapAction="http://tempuri.org/ISaveAndLoadRecipeService/ReadRecipesFromXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaveAndLoadRecipeService">
    <wsdl:port name="BasicHttpBinding_ISaveAndLoadRecipeService" binding="tns:BasicHttpBinding_ISaveAndLoadRecipeService">
      <soap:address location="http://webstrar192.fulton.asu.edu/page3/SaveAndLoadRecipeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>